@{
	ViewData["Title"] = "Home Page";
}
<script src="~/microsoft/signalr.js"></script>
<div class="container">
	姓名：<input type="text" name="name" value="" id="textuserName" /> <br />
	发言：<input type="text" name="name" value="" id="textMessage" /> <br />
	<input type="button" name="name" value="发送" id="btnSend" />
	<ul id="lstMessage">
		
	</ul>

</div>
<script>
	var connection = new signalR.HubConnectionBuilder().withUrl("/chathub").build();
	//document.getElementById("btnSend").disabled = true;
	connection.start();
	//向连接对象添加一个用于从SignaIR集线器接收信息并将其添加到列表的处理程序
	connection.on("ReceiveMessage", function (user, message) {
		var endmessage = user + "说" + message;
		var li = document.createElement("li");
		li.textContent = endmessage;
		document.getElementById("lstMessage").appendChild(li);

	});
	//向发送按钮添加一个用于向SignaIR集线器发送信息的处理程序
	document.getElementById("btnSend").addEventListener("click", function (even) {
		var user = document.getElementById("textuserName").value;
		var message = document.getElementById("textMessage").value;
		connection.invoke("SendMessage", user, message);
		event.preventDefault();
	});
</script>

